body {
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

#selectionView {
	width: 100% !important;
	height: 100vh !important;
}

#itemLayout {
	margin: auto auto;
}

.shortcutType {
	padding: 25px;
	min-width: 80px;
	background-color: white;
	border: 2px solid #0A7AFF;
	border-radius: 10px;
	text-align: center;
}

.shortcutLabel {
	vertical-align: middle;
}