#formHeader {
	margin-top: -15px;
	margin-left: 30px;
	color: #3C4752;
	font-size: var(--lumo-font-size-xxl);
}

#formComponent {
	margin: 0 auto;
	width: 70% !important;
	height: 100%;
	border-radius: 10px;
	
	background-color: #DAE1E7;
	text-align: center;
}

#formLayout {
	height: 200px;
	margin-top: 0;
}

#shortcutTextField {
	--lumo-text-field-size: var(--lumo-size-xl);
	margin: 0 auto;
}

#shortcutTextField::part(input-field) {
	background-color: white;
}

#shortcutSelector {
	margin: 6px auto 0 auto;
}

#shortcutInputField {
	margin-right: 10px;
}

#shortcutInputField::part(input-field) {
	background-color: white;
	margin-top: -4px;
}

#fileSelector {
	margin: 25px auto 10px auto;
}

#confirmButtonIcon {
	width: 30px;
	height: 30px;
	padding: 21px 19px 19px 21px;
}

.formConfirmButton {
	background-color: #0A7AFF;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-left: 97%;
}

.formConfirmButton:hover {
	background-color: #0863CC;
}

#predefinedShortcutSelector {
	margin: var(--lumo-space-m) auto;
	background-color: white;
	--lumo-contrast-10pct: white !important;
}

#predefinedShortcutSelector::part(value) {
	background-color: white;
}

#textFormConfirmButton {
	margin-top: -20px;
}

#programFormConfirmButton {
	margin-top: 30px;
}

/*

TODO Target styling...

#shortcutInputField::part(input-field):hover {
	background-color: #DAE1E7;
}
*/