/*html {
	height: 100%;
	overflow-y: hidden !important;
}

#menuView {
	width: 100% !important;
	height: 100% !important;
}*/

body {
	overflow-y: hidden !important;
	overflow-x: hidden !important;
	/*height: 100vh !important;*/
}

#menuView {
	width: 100% !important;
	height: 100vh !important;
}

#sidebarHeaderLayout {
	background-color: #064DA1;
	width: 100%;
	height: 25%;
}

#sidebarLayout {
	width: 30% !important;
	height: 100%;
	background-color: #096CE7;
	color: white;
	padding: 0;
}

#shortcutContentLayout {
	width: 70% !important;
	background-color: #DAE1E7;
	margin-left: 0;
}

#createShortcutButton {
	margin-top: 0;
	background-color: #41F26D;
	color: #124414 !important;
}

#createShortcutButton:hover {
	background-color: #39D65B;
}

#shortcutKeyboardImage {
	margin-top: 200px;
	margin-left: 220px;
	overflow: hidden;
	opacity: 0.5;
}

#textContentLayout {
	margin-top: -250px;
	margin-left: 10px;
	color: #3C4752;
}