@import url('./main-layout.css');
@import url('lumo-css-framework/all-classes.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@include font-face('Nunito', '/../../../src/main/resources/META-INF/fonts/Nunito-Regular.ttf', 400, normal);


* {
	font-family: Nunito;
	font-weight: 500;
}

#mainContentLayout {
	float: left;
}

#keyboardContentLayout {
	float: right;
}

#titleText {
	font-weight: 700;
}