@import url('./main-layout.css');

@import url('lumo-css-framework/all-classes.css');

@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

@include font-face ('Nunito', '/../../../src/main/resources/META-INF/fonts/Nunito-Regular.ttf ', 400, normal );

* {
	font-family: Nunito;
	font-weight: 500;
	font-size: var(--lumo-font-size-s);
}

body {
   height: 100%;
   overflow-y: hidden;
}

#topLayout {
	margin-top: 0 !important;
}

#mainContentLayout {
	float: left;
}

#keyboardContentLayout {
	float: right;
}

#titleText {
	font-weight: 700;
	margin-top: 0;
}

#keyboardIcon {
	margin: -200px 0 0 -200px !important;
	padding-left: 40px;
	padding-top: 20px;
}

#buttonLayout {
	padding-right: 20px !important;
}

.signupButton {
	margin-top: 0;
	background-color: #41F26D;
	color: #113F12 !important;
}

.signupButton:hover {
	background-color: #39D65B;
}

#circle {
	height: 1300px;
	width: 2000px;
	margin: -340px 0 0 -350px;
	padding: 0;
	background-color: #D9EAFF;
	border-radius: 50%;
	display: inline-block;
	z-index: -1;
}

#tryWithoutLink {
	font-size: 12px !important;
	padding-left: 8px;
}

#dividerLine {
	margin-top: -40px;
	margin-bottom: 40px;
	color: #8795A1;
	height: 5px;
	width: 80%;
	margin-left: 20%;
}

#loginButton {
	background-color: transparent;
	color: #3B4651;
}

#basicSignupButton {
	background-color: #44FF70;
	border-color: #34C759;
	border-radius: 10px;
	border-style: solid;
  	border-width: 3px;
	
	color: #3C4752;
}

#basicSignupButton:hover {
	background-color: #41F26A;
}