body {
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

#userView {
	width: 100% !important;
	height: 100vh !important;
}

.centeredText {
	text-align: center;
}

.userInfoButton {
	margin: var(--lumo-space-xs) auto;
}

.userInfoButtonLayout {
	width: 100%;
}